@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');
:root{
    --green:#117050;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
ul li{
    list-style: none;
}
ul a{
    text-decoration: none;
}
header .line{
    background-color:var(--green);
    height: 15px;
}
h1{
    font-size: 95px;
    font-weight: bold;
    font-family: 'oswald', sans-serif;
    line-height: 100px;
    text-transform: capitalize;
    margin: 0;
}
h2{
    font-size: 35px;
    font-weight: bold;
    font-family: 'oswald', sans-serif;
    margin: 0;
    line-height: 45px;
    margin: 20px 0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.bar{
    background-color:#006341;
    width: 168px;
    height: 22px;
}
.button{
    border: 2px solid #454545;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    text-decoration: none;
    color: #454545;
}
.button:hover{
    color: #fff;
    background-color: #454545;
}


.header--area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: relative;
}
.header-left img{
    width: 64px;
    height: 64px;
}
.header-right{
    display: flex;
    align-items: center;
}
.header-search form{
    display: flex;
}
.header-search input{
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 220px;
}
.header-search button{
    background: transparent;
    border: 0;
    margin-left: -30px;
    cursor: pointer;
}
.header-search button img{
    height: 16px;
    width: 16px;
}
.header-menu{
    margin-left: 50px;
}
.header-menu img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 20px;
}
/*Menu*/
.header-menu ul{
    display: none;
    position: absolute;
    margin-left: -50px;
    height: auto;
    width: auto;
}
.header-menu li{
    position: relative;
    padding-bottom:20px;
}
.header-menu li::after{
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--green);
    width: 0;
    left: 0;
    bottom: 20px;
    transition: all 500ms;
}
.header-menu li:hover::after{
    width: 100%;
}
.header-menu a{
    color: #000;
    text-transform: uppercase;
}
/*Banner*/
#banner{
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    padding-top:90px ;
    padding-bottom:90px ;
}
.banner-img{
    margin-top: 60px;
}
.banner-img img{
    width: 148px;
    height: 148px;
    border: 6px solid var(--green);
    border-radius: 100%;
    margin-right: 40px;
}
/*Area 1*/
#area1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.area1-content{
    padding: 80px;
}
.area1-content span{
    margin-bottom: 30px;
}
.area1-content p{
    margin-bottom: 50px;
    line-height: 25px;
}
.area1-img1{
    background-color: green;
    height: 350px;
    background-image: url("../img/f2.jpg");
    background-size: cover;
    background-position: center;
}
.area1-img2{
    background-color: red;
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url("../img/f1.jpg");
    background-size: cover;
    background-position: center;
}

/*Area 2*/
#area2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.area2-content{
    padding: 80px;
}
.area1-content p{
    margin-bottom: 50px;
    line-height: 25px;
}
.area2-img1{
    background-color: green;
    height: 450px;
    background-image: url("../img/f4.jpg");
    background-size: cover;
    background-position: center;
}
.area2-img2{
    background-color: red;
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url("../img/f3.jpg");
    background-size: cover;
    background-position: center;
}
/*Area 3*/
#area3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area3-content{
    padding: 200px 80px;
}
.area3-content p{
    margin-bottom: 50px;
    line-height: 25px;
}
.area3-img{
    background-color: green;
    background-image: url("../img/f5.jpg");
    background-size: cover;
    background-position: center;
}
.area3-content{
    background-image: url("../img/bg2.jpg");
    background-position: left;
    background-size: cover;
}
/*Area 4*/
#area4{
    display: grid;
    grid-template-columns: 450px 1fr ;
}
.area4-content{
    padding: 150px 80px;
}
.area4-content p{
    margin-bottom: 50px;
    line-height: 25px;
}
.area4-img{
    background-color: green;
    background-image: url("../img/bg3.jpg");
    background-position: left;
}
/*Area5*/
#area5{
    background-color: green;
    background-image: url("../img/bg4.jpg");
    background-position: center;
    background-size:cover ;
    height: 484px;
}
/*Footer*/
footer{
    background-color: #333;
    color: #fff;
    padding: 80px;
    text-align: center;
}
@media (max-width:768px){
    #area1,#area2,#area3,#area4{
        grid-template-columns: repeat(1, 1fr);
    }
    .area4-img{
        background-size: contain;
        background-position: center;
        height: 450px;
    }
    nav{
        background-color: #000;
        position: absolute;
        margin-left: -52px
    }
    .header-menu ul{
    background: #117050;
    padding-right: 60px;
    }

}
@media (max-width:425px){
    #banner{
        background-image: none;
    }
    #banner h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 60px;
    }
    .banner-img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .area4-img{
        background-repeat: no-repeat;
        background-color: #fff;
    }
    nav{
        background-color: #000;
        position: absolute;
        margin-left: -52px
    }
}
@media (max-width:375px){
    .header--area{
        flex-direction: column;
    }
    .header-left img{
        margin-top: 5px;
        width: 150px;
        height: 150px;
    }
    .area1-img1 ,.area2-img1 ,.area3-img1{
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: contain;
    }
}